/* ======================================================
    Reset
====================================================== */
header,
nav,
footer,
aside,
section,
article,
hgroup,
figure,
figcaption {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, header, nav, footer {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline; }

a {
  margin: 0;
  padding: 0;
  outline: none;
  background: transparent;
  vertical-align: baseline;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, td img, img {
  vertical-align: top; }

input,
select,
button,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: Tahoma, "Geneva CY", Verdana, Segoe, Arial, sans-serif; }

input:focus,
select:focus,
textarea:focus {
  outline: none; }

textarea {
  overflow: auto;
  font-family: Tahoma, "Geneva CY", Verdana, Segoe, Arial, sans-serif;
  resize: none; }

input[type="text"],
input[type="password"],
textarea {
  padding: 0; }

input[type="checkbox"] {
  vertical-align: top; }

input[type="radio"] {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

body {
  color: #383838;
  text-align: left;
  font-size: 14px;
  font-family: Tahoma, "Geneva CY", Verdana, Segoe, Arial, sans-serif;
  line-height: 1.2; }

h1 {
  margin: 0 0 10px 0; }

h2 {
  margin: 0 0 10px 0; }

h3 {
  margin: 0 0 10px 0; }

h4 {
  margin: 0 0 10px 0; }

h5 {
  margin: 0 0 10px 0; }

h6 {
  margin: 0 0 10px 0; }

p {
  margin: 10px 0 10px 0;
  font-size: 14px;
  line-height: 1.2; }

a {
  color: #383838;
  text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active {
    text-decoration: none; }

b, strong {
  font-weight: bold; }

i {
  font-style: italic; }

ul {
  margin: 10px 0 10px 15px; }

ol {
  margin: 10px 0 10px 15px; }

li {
  margin: 0 0 5px 0;
  font-size: 14px;
  line-height: 1.2; }

table {
  margin: 15px 0 15px 0;
  width: 100%; }
  table caption {
    font-size: 14px;
    line-height: 1.2;
    color: #888888;
    font-weight: bold;
    text-align: left;
    text-indent: 18px;
    margin: 0 0 15px 0; }
  table .icons {
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../resources/images/sprite-icons.png") no-repeat;
    vertical-align: center; }
    table .icons__edit {
      background-position: -3px -145px;
      width: 20px;
      height: 22px;
      margin: 0 5px; }
      table .icons__edit:hover {
        background-position: -45px -145px; }
    table .icons__delete {
      background-position: -5px -182px;
      width: 18px;
      height: 17px; }
      table .icons__delete:hover {
        background-position: -46px -182px; }

th {
  padding: 6px 0px;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 0 1px 0 1px;
  color: #383838;
  vertical-align: middle;
  text-align: center;
  background-color: #cacaca;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }
  th:hover {
    background-color: #d7d7d7; }

td {
  padding: 2px 5px;
  border: 1px solid #e6e6e6;
  color: #383838;
  font-size: 14px;
  line-height: 1.2;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle; }
  td:hover {
    background-color: #f2f2f2; }

img {
  border: none; }

.object-block {
  margin: 0 0 5px 0; }
  .object-block embed, .object-block object, .object-block iframe {
    border: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background: #fff; }
  body.beige {
    background: #e3eef0; }

.site-layout {
  width: 960px;
  margin: 0 auto; }
  .site-layout__nav {
    margin: 30px;
    text-align: center; }
    .site-layout__nav .btn {
      padding-left: 60px;
      padding-right: 60px; }

.aside {
  float: left;
  width: 230px;
  background: #383838 url("../resources/images/aside_bg.png") 0 0 repeat; }

.main {
  width: 730px;
  float: left;
  background-color: #eee;
  border-right: 1px solid #dadada; }
  .main__header {
    padding: 10px 15px;
    border-bottom: 1px solid #dadada; }
  .main__content {
    background-color: #fff; }
  .main__section {
    padding-bottom: 20px; }
  .main__section-title {
    font-weight: bold;
    text-align: center;
    color: #3e3e3e;
    font-size: 15px;
    line-height: 27px;
    background-color: #cacaca;
    margin: 0 0 20px 0; }
    .main__section-title + .main__section-subtitle {
      margin-top: -20px; }
  .main__section-subtitle {
    color: #887979;
    font-size: 15px;
    line-height: 20px;
    padding: 15px;
    background-color: #f3f3f3;
    text-align: center;
    margin: 0 0 15px 0; }

.warning {
  border: 1px solid #d15959; }

.warning_no-js {
  border: 1px solid #d15959;
  padding: 1px; }
  .warning_no-js p {
    text-align: center;
    font-weight: bold;
    font-size: 20px; }

.error-text {
  color: #d15959;
  font-size: 17px;
  line-height: 1.2;
  margin: 10px 150px; }

/* ==========================================================================
   Placeholders
   ========================================================================== */
/**
 * Placeholder for clearfix
 */
.site-layout:before, .main__content:before, .clearfix:before, .top-nav ul:before, .nav-board .item.width260px:before, .calendar-inputs:before, .popup__form-line:before, .authorization__form-line:before, .form__line:before, .form__line-items:before, .site-layout:after, .main__content:after, .clearfix:after, .top-nav ul:after, .nav-board .item.width260px:after, .calendar-inputs:after, .popup__form-line:after, .authorization__form-line:after, .form__line:after, .form__line-items:after {
  content: "";
  line-height: 0;
  display: table; }
.site-layout:after, .main__content:after, .clearfix:after, .top-nav ul:after, .nav-board .item.width260px:after, .calendar-inputs:after, .popup__form-line:after, .authorization__form-line:after, .form__line:after, .form__line-items:after {
  clear: both; }

/**
 * Placeholder for icon
 */
.simple-list .condition:after, .aside-navigation__list-link:after, .aside-navigation__sublist .sublist__link:after, .top-nav li a:before, .dropdown__header:after, .select-wrap:before, .select-wrap:after {
  content: "";
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  position: absolute; }

/**
 * Placeholder for inline-block wrapper
 */
.simple-list li {
  display: block;
  letter-spacing: -4px;
  text-rendering: optimizespeed;
  font-family: Tahoma, "Geneva CY", Verdana, Segoe, Arial, sans-serif; }

/**
 * Placeholder for inline-block element
 */
.simple-list span {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  font-family: Tahoma, "Geneva CY", Verdana, Segoe, Arial, sans-serif; }

/* ==========================================================================
   Help classes
   ========================================================================== */
/**
 * Floats
 */
.fl-left {
  float: left !important; }

.fl-right {
  float: right !important; }

/**
 * Align position classes
*/
.ta-center {
  text-align: center; }

.u-m-tb {
  margin-top: 100px; }

.u-p-tb {
  padding-top: 100px; }

.u-vertal-b {
  vertical-align: bottom; }

/**
 * Visibility in another devices
*/
/**
 * Special width for elements
*/
.width124px {
  width: 124px !important; }

.width260px {
  width: 260px !important; }

.width220px {
  width: 221px !important; }

.width80px {
  width: 80px !important; }

.no-js .top-slider {
  margin: 0 auto;
  overflow-y: hidden; }
  .no-js .top-slider__list {
    width: 10000px; }
  .no-js .top-slider__item {
    float: left; }
  .no-js .top-slider__arrows {
    display: none; }
.no-js .photo-slider__view {
  overflow: visible;
  overflow-y: hidden; }
  .no-js .photo-slider__view ul {
    width: 10000px; }
  .no-js .photo-slider__view li {
    display: block;
    float: left; }
  .no-js .photo-slider__view img {
    width: auto; }

.list-added-files {
  list-style-type: none;
  margin: 0 0 20px 0; }
  .list-added-files li {
    margin: 0 0 0 0;
    font-size: 15px;
    white-space: nowrap; }
  .list-added-files .title {
    color: #747474;
    display: inline-block;
    margin-right: 10px;
    width: 180px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: top; }
  .list-added-files .event {
    color: #166ab1;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline; }
    .list-added-files .event:hover {
      text-decoration: none; }

.simple-list {
  list-style-type: none;
  margin: 0 0 0 0; }
  .simple-list span {
    font-size: 15px; }
  .simple-list .title {
    text-align: right;
    width: 400px;
    padding-right: 30px; }
  .simple-list .condition {
    color: #166ab1;
    margin-right: 54px;
    position: relative; }
    .simple-list .condition:after {
      background: url("../resources/images/sprite-icons.png") no-repeat -1px -269px;
      width: 20px;
      height: 16px;
      top: 0;
      right: -30px;
      display: none; }
    .simple-list .condition_true {
      color: #c6c7c8; }
      .simple-list .condition_true:after {
        display: block; }
  .simple-list .event {
    color: #166ab1;
    text-decoration: underline;
    cursor: pointer; }
    .simple-list .event:hover {
      text-decoration: underline; }

/*! jQuery UI - v1.10.4 - 2014-05-13
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */ }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

.ui-front {
  z-index: 100; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-resizable {
  position: relative; }

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block; }

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none; }

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0; }

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0; }

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%; }

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%; }

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px; }

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px; }

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px; }

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px; }

.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */ }

.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
  text-decoration: none; }

/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
  width: 2.2em; }

/* button elements seem to need a little more width */
button.ui-button-icon-only {
  width: 2.4em; }

.ui-button-icons-only {
  width: 3.4em; }

button.ui-button-icons-only {
  width: 3.7em; }

/* button text element */
.ui-button .ui-button-text {
  display: block;
  line-height: normal; }

.ui-button-text-only .ui-button-text {
  padding: .4em 1em; }

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px; }

.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em; }

.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em; }

.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em; }

/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: .4em 1em; }

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px; }

.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px; }

.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
  left: .5em; }

.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: .5em; }

/* button sets */
.ui-buttonset {
  margin-right: 7px; }

.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -.3em; }

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em; }

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px; }

.ui-datepicker .ui-datepicker-prev {
  left: 2px; }

.ui-datepicker .ui-datepicker-next {
  right: 2px; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px; }

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px; }

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%; }

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em; }

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0; }

.ui-datepicker td {
  border: 0;
  padding: 1px; }

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group {
  float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0; }

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

.ui-draggable .ui-dialog-titlebar {
  cursor: move; }

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 1.1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 1em; }

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #eeeeee url("../images/design/jquery-ui/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
  color: #333333; }

.ui-widget-content a {
  color: #333333; }

.ui-widget-header {
  border: 1px solid #e78f08;
  background: #f6a828 url("../images/design/jquery-ui/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold; }

.ui-widget-header a {
  color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #cccccc;
  background: #f6f6f6 url("../images/design/jquery-ui/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #1c94c4; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #fbcb09;
  background: #fdf5ce url("../images/design/jquery-ui/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #c77405; }

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #c77405;
  text-decoration: none; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #fbd850;
  background: white url("../images/design/jquery-ui/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #eb8f00; }

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #eb8f00;
  text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #fed22f;
  background: #ffe45c url("../images/design/jquery-ui/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x;
  color: #363636; }

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636; }

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900 url("../images/design/jquery-ui/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat;
  color: #ffffff; }

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #ffffff; }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #ffffff; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none; }

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* For IE8 - See #6059 */ }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px; }

.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url("../images/design/jquery-ui/ui-icons_222222_256x240.png"); }

.ui-widget-header .ui-icon {
  background-image: url("../images/design/jquery-ui/ui-icons_ffffff_256x240.png"); }

.ui-state-default .ui-icon {
  background-image: url("../images/design/jquery-ui/ui-icons_ef8c08_256x240.png"); }

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url("../images/design/jquery-ui/ui-icons_ef8c08_256x240.png"); }

.ui-state-active .ui-icon {
  background-image: url("../images/design/jquery-ui/ui-icons_ef8c08_256x240.png"); }

.ui-state-highlight .ui-icon {
  background-image: url("../images/design/jquery-ui/ui-icons_228ef1_256x240.png"); }

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url("../images/design/jquery-ui/ui-icons_ffd27a_256x240.png"); }

/* positioning */
.ui-icon-blank {
  background-position: 16px 16px; }

.ui-icon-carat-1-n {
  background-position: 0 0; }

.ui-icon-carat-1-ne {
  background-position: -16px 0; }

.ui-icon-carat-1-e {
  background-position: -32px 0; }

.ui-icon-carat-1-se {
  background-position: -48px 0; }

.ui-icon-carat-1-s {
  background-position: -64px 0; }

.ui-icon-carat-1-sw {
  background-position: -80px 0; }

.ui-icon-carat-1-w {
  background-position: -96px 0; }

.ui-icon-carat-1-nw {
  background-position: -112px 0; }

.ui-icon-carat-2-n-s {
  background-position: -128px 0; }

.ui-icon-carat-2-e-w {
  background-position: -144px 0; }

.ui-icon-triangle-1-n {
  background-position: 0 -16px; }

.ui-icon-triangle-1-ne {
  background-position: -16px -16px; }

.ui-icon-triangle-1-e {
  background-position: -32px -16px; }

.ui-icon-triangle-1-se {
  background-position: -48px -16px; }

.ui-icon-triangle-1-s {
  background-position: -64px -16px; }

.ui-icon-triangle-1-sw {
  background-position: -80px -16px; }

.ui-icon-triangle-1-w {
  background-position: -96px -16px; }

.ui-icon-triangle-1-nw {
  background-position: -112px -16px; }

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px; }

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px; }

.ui-icon-arrow-1-n {
  background-position: 0 -32px; }

.ui-icon-arrow-1-ne {
  background-position: -16px -32px; }

.ui-icon-arrow-1-e {
  background-position: -32px -32px; }

.ui-icon-arrow-1-se {
  background-position: -48px -32px; }

.ui-icon-arrow-1-s {
  background-position: -64px -32px; }

.ui-icon-arrow-1-sw {
  background-position: -80px -32px; }

.ui-icon-arrow-1-w {
  background-position: -96px -32px; }

.ui-icon-arrow-1-nw {
  background-position: -112px -32px; }

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px; }

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px; }

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px; }

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px; }

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px; }

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px; }

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px; }

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px; }

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px; }

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px; }

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px; }

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px; }

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px; }

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px; }

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px; }

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px; }

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px; }

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px; }

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px; }

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px; }

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px; }

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px; }

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px; }

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px; }

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px; }

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px; }

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px; }

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px; }

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px; }

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px; }

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px; }

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px; }

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px; }

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px; }

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px; }

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px; }

.ui-icon-arrow-4 {
  background-position: 0 -80px; }

.ui-icon-arrow-4-diag {
  background-position: -16px -80px; }

.ui-icon-extlink {
  background-position: -32px -80px; }

.ui-icon-newwin {
  background-position: -48px -80px; }

.ui-icon-refresh {
  background-position: -64px -80px; }

.ui-icon-shuffle {
  background-position: -80px -80px; }

.ui-icon-transfer-e-w {
  background-position: -96px -80px; }

.ui-icon-transferthick-e-w {
  background-position: -112px -80px; }

.ui-icon-folder-collapsed {
  background-position: 0 -96px; }

.ui-icon-folder-open {
  background-position: -16px -96px; }

.ui-icon-document {
  background-position: -32px -96px; }

.ui-icon-document-b {
  background-position: -48px -96px; }

.ui-icon-note {
  background-position: -64px -96px; }

.ui-icon-mail-closed {
  background-position: -80px -96px; }

.ui-icon-mail-open {
  background-position: -96px -96px; }

.ui-icon-suitcase {
  background-position: -112px -96px; }

.ui-icon-comment {
  background-position: -128px -96px; }

.ui-icon-person {
  background-position: -144px -96px; }

.ui-icon-print {
  background-position: -160px -96px; }

.ui-icon-trash {
  background-position: -176px -96px; }

.ui-icon-locked {
  background-position: -192px -96px; }

.ui-icon-unlocked {
  background-position: -208px -96px; }

.ui-icon-bookmark {
  background-position: -224px -96px; }

.ui-icon-tag {
  background-position: -240px -96px; }

.ui-icon-home {
  background-position: 0 -112px; }

.ui-icon-flag {
  background-position: -16px -112px; }

.ui-icon-calendar {
  background-position: -32px -112px; }

.ui-icon-cart {
  background-position: -48px -112px; }

.ui-icon-pencil {
  background-position: -64px -112px; }

.ui-icon-clock {
  background-position: -80px -112px; }

.ui-icon-disk {
  background-position: -96px -112px; }

.ui-icon-calculator {
  background-position: -112px -112px; }

.ui-icon-zoomin {
  background-position: -128px -112px; }

.ui-icon-zoomout {
  background-position: -144px -112px; }

.ui-icon-search {
  background-position: -160px -112px; }

.ui-icon-wrench {
  background-position: -176px -112px; }

.ui-icon-gear {
  background-position: -192px -112px; }

.ui-icon-heart {
  background-position: -208px -112px; }

.ui-icon-star {
  background-position: -224px -112px; }

.ui-icon-link {
  background-position: -240px -112px; }

.ui-icon-cancel {
  background-position: 0 -128px; }

.ui-icon-plus {
  background-position: -16px -128px; }

.ui-icon-plusthick {
  background-position: -32px -128px; }

.ui-icon-minus {
  background-position: -48px -128px; }

.ui-icon-minusthick {
  background-position: -64px -128px; }

.ui-icon-close {
  background-position: -80px -128px; }

.ui-icon-closethick {
  background-position: -96px -128px; }

.ui-icon-key {
  background-position: -112px -128px; }

.ui-icon-lightbulb {
  background-position: -128px -128px; }

.ui-icon-scissors {
  background-position: -144px -128px; }

.ui-icon-clipboard {
  background-position: -160px -128px; }

.ui-icon-copy {
  background-position: -176px -128px; }

.ui-icon-contact {
  background-position: -192px -128px; }

.ui-icon-image {
  background-position: -208px -128px; }

.ui-icon-video {
  background-position: -224px -128px; }

.ui-icon-script {
  background-position: -240px -128px; }

.ui-icon-alert {
  background-position: 0 -144px; }

.ui-icon-info {
  background-position: -16px -144px; }

.ui-icon-notice {
  background-position: -32px -144px; }

.ui-icon-help {
  background-position: -48px -144px; }

.ui-icon-check {
  background-position: -64px -144px; }

.ui-icon-bullet {
  background-position: -80px -144px; }

.ui-icon-radio-on {
  background-position: -96px -144px; }

.ui-icon-radio-off {
  background-position: -112px -144px; }

.ui-icon-pin-w {
  background-position: -128px -144px; }

.ui-icon-pin-s {
  background-position: -144px -144px; }

.ui-icon-play {
  background-position: 0 -160px; }

.ui-icon-pause {
  background-position: -16px -160px; }

.ui-icon-seek-next {
  background-position: -32px -160px; }

.ui-icon-seek-prev {
  background-position: -48px -160px; }

.ui-icon-seek-end {
  background-position: -64px -160px; }

.ui-icon-seek-start {
  background-position: -80px -160px; }

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
  background-position: -80px -160px; }

.ui-icon-stop {
  background-position: -96px -160px; }

.ui-icon-eject {
  background-position: -112px -160px; }

.ui-icon-volume-off {
  background-position: -128px -160px; }

.ui-icon-volume-on {
  background-position: -144px -160px; }

.ui-icon-power {
  background-position: 0 -176px; }

.ui-icon-signal-diag {
  background-position: -16px -176px; }

.ui-icon-signal {
  background-position: -32px -176px; }

.ui-icon-battery-0 {
  background-position: -48px -176px; }

.ui-icon-battery-1 {
  background-position: -64px -176px; }

.ui-icon-battery-2 {
  background-position: -80px -176px; }

.ui-icon-battery-3 {
  background-position: -96px -176px; }

.ui-icon-circle-plus {
  background-position: 0 -192px; }

.ui-icon-circle-minus {
  background-position: -16px -192px; }

.ui-icon-circle-close {
  background-position: -32px -192px; }

.ui-icon-circle-triangle-e {
  background-position: -48px -192px; }

.ui-icon-circle-triangle-s {
  background-position: -64px -192px; }

.ui-icon-circle-triangle-w {
  background-position: -80px -192px; }

.ui-icon-circle-triangle-n {
  background-position: -96px -192px; }

.ui-icon-circle-arrow-e {
  background-position: -112px -192px; }

.ui-icon-circle-arrow-s {
  background-position: -128px -192px; }

.ui-icon-circle-arrow-w {
  background-position: -144px -192px; }

.ui-icon-circle-arrow-n {
  background-position: -160px -192px; }

.ui-icon-circle-zoomin {
  background-position: -176px -192px; }

.ui-icon-circle-zoomout {
  background-position: -192px -192px; }

.ui-icon-circle-check {
  background-position: -208px -192px; }

.ui-icon-circlesmall-plus {
  background-position: 0 -208px; }

.ui-icon-circlesmall-minus {
  background-position: -16px -208px; }

.ui-icon-circlesmall-close {
  background-position: -32px -208px; }

.ui-icon-squaresmall-plus {
  background-position: -48px -208px; }

.ui-icon-squaresmall-minus {
  background-position: -64px -208px; }

.ui-icon-squaresmall-close {
  background-position: -80px -208px; }

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px; }

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px; }

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px; }

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px; }

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px; }

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px; }

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 4px; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 4px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 4px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 4px; }

/* Overlays */
.ui-widget-overlay {
  background: #666666 url("../images/design/jquery-ui/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;
  opacity: .5;
  filter: Alpha(Opacity=50); }

.ui-widget-shadow {
  margin: -5px 0 0 -5px;
  padding: 5px;
  background: black url("../images/design/jquery-ui/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x;
  opacity: .2;
  filter: Alpha(Opacity=20);
  border-radius: 5px; }

.hasDatepicker + img {
  position: absolute;
  top: 3px;
  right: 5px; }

.ui-dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  outline: 0; }

.ui-dialog .ui-widget-header {
  display: none; }

.ui-dialog .ui-widget-content {
  border: none;
  color: #383838;
  background: #f7f7f7; }

/* ==========================================================================
   header
   ========================================================================== */
/* ==========================================================================
    aside
    ========================================================================== */
.aside .logo {
  display: block;
  margin: 20px 8px; }

.aside-navigation {
  margin: 0 0 20px 0; }
  .aside-navigation__list {
    margin: 0;
    list-style-type: none; }
  .aside-navigation__list-item.active > a {
    color: #fff; }
    .aside-navigation__list-item.active > a:after {
      display: block; }
  .aside-navigation__list-link {
    color: #ccc;
    display: block;
    background-color: rgba(255, 255, 255, 0.03);
    font-size: 18px;
    line-height: 20px;
    padding: 15px 30px;
    position: relative;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #4b4b4b; }
    .aside-navigation__list-link:hover {
      color: #fff;
      text-decoration: none; }
      .aside-navigation__list-link:hover:after {
        display: block; }
    .aside-navigation__list-link:after {
      background: url("../resources/images/sprite-icons.png") no-repeat -8px -206px;
      width: 6px;
      height: 11px;
      right: 0;
      top: 50%;
      margin-top: -5.5px;
      display: none; }
  .aside-navigation__sublist {
    margin: 0 0 0 30px;
    list-style-type: none; }
    .aside-navigation__sublist .sublist-item {
      padding: 0 20px 0 10px;
      margin: 7px 0; }
      .aside-navigation__sublist .sublist-item.active .sublist__link {
        text-decoration: none;
        color: #fff;
        background-color: #4b4b4b;
        border-radius: 5px; }
        .aside-navigation__sublist .sublist-item.active .sublist__link:after {
          display: block; }
    .aside-navigation__sublist .sublist__link {
      font-size: 16px;
      line-height: 27px;
      color: #a9a9a9;
      display: block;
      padding: 0 10px;
      position: relative;
      border-radius: 5px; }
      .aside-navigation__sublist .sublist__link:hover {
        text-decoration: none;
        color: #fff;
        background-color: #4b4b4b; }
        .aside-navigation__sublist .sublist__link:hover:after {
          display: block; }
      .aside-navigation__sublist .sublist__link:after {
        background: url("../resources/images/sprite-icons.png") no-repeat -45px -206px;
        width: 6px;
        height: 11px;
        right: -5px;
        top: 50%;
        margin-top: -5.5px;
        display: none; }

.top-nav ul {
  list-style-type: none;
  margin: 0; }
.top-nav li {
  float: left;
  margin: 0 0 0 10px;
  position: relative; }
  .top-nav li:first-child {
    margin-left: 0; }
  .top-nav li:last-child {
    float: right; }
  .top-nav li.active a {
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
    background-image: -webkit-linear-gradient(bottom, white, #efefef);
    background-image: linear-gradient(to top,white, #efefef); }
  .top-nav li a:before {
    background: transparent url("../resources/images/sprite-icons.png") no-repeat;
    background-position: 0 0;
    left: 10px;
    top: 50%; }
  .top-nav li.add-user a:before {
    background-position: 0 0;
    width: 39px;
    height: 45px;
    margin-top: -22.5px; }
  .top-nav li.add-company a:before {
    background-position: -3px -50px;
    width: 39px;
    height: 45px;
    margin-top: -22.5px; }
  .top-nav li.exit a:before {
    background-position: -3px -50px;
    width: 39px;
    height: 45px;
    margin-top: -22.5px; }
  .top-nav li.add-list a:before {
    background-position: 0 -342px;
    width: 43px;
    height: 47px;
    margin-top: -23.5px; }
.top-nav a {
  display: table-cell;
  padding-left: 60px;
  padding: 0 10px 0 60px;
  color: #888888;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  border: 1px solid #dadada;
  border-radius: 6px;
  height: 56px;
  width: 160px;
  vertical-align: middle; }
  .top-nav a:hover {
    text-decoration: none;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
    background-image: -webkit-linear-gradient(bottom, white, #efefef);
    background-image: linear-gradient(to top,white, #efefef); }

.dropdown-block {
  padding-left: 24px; }
  .dropdown-block__nav {
    padding: 10px 0;
    color: #186ea3;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; }
    .dropdown-block__nav a {
      color: #186ea3; }
      .dropdown-block__nav a:hover {
        text-decoration: none; }

.nav-board {
  margin: 15px 0;
  display: table;
  width: 100%;
  vertical-align: top; }
  .nav-board > .item {
    display: table-cell;
    vertical-align: top;
    padding: 0 4px;
    text-align: center; }
  .nav-board .item.width260px {
    text-align: left; }
    .nav-board .item.width260px label {
      float: left;
      font-size: 14px;
      line-height: 23px; }
    .nav-board .item.width260px .select-wrap {
      width: 192px;
      float: right; }
  .nav-board .btn {
    padding: 2px 10px; }
  .nav-board select {
    font-size: 14px !important; }
  .nav-board input[type="text"] {
    font-size: 14px !important; }
  .nav-board a {
    text-decoration: underline;
    color: #166ab1; }
    .nav-board a:hover {
      text-decoration: none; }

.calendar-inputs__item {
  position: relative;
  float: left;
  width: 100px;
  margin-left: 12px; }
  .calendar-inputs__item:first-child {
    margin-left: 0; }
    .calendar-inputs__item:first-child:after {
      content: "\2013";
      position: absolute;
      top: 0;
      line-height: 23px;
      left: 102px; }

.schedule {
  padding: 0 15px;
  margin: 15px 0 200px 0; }
  .schedule img {
    max-width: 100%;
    height: auto; }

.popup {
  position: relative;
  overflow: auto;
  display: none;
  width: 340px;
  background-color: #f7f7f7;
  border: 1px solid #dadada; }
  .popup header {
    background-color: #373737;
    text-transform: uppercase;
    color: #e5e5e5;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 13px 0; }
  .popup__main {
    padding: 30px 0; }
  .popup__form-line {
    margin: 15px 0 0 0;
    padding: 0 84px; }
    .popup__form-line:first-child {
      margin-top: 0; }
    .popup__form-line label {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 1;
      color: #6a6a6a; }
    .popup__form-line .btn {
      font-weight: bold;
      color: #4f4f4f;
      font-size: 16px;
      line-height: 20px;
      padding: 4px 30px;
      border: 1px solid #afafaf;
      background-image: none;
      background: none;
      box-shadow: inset 0 14px 0 #ebebeb; }
      .popup__form-line .btn:hover {
        background-image: none;
        background: none;
        box-shadow: inset 0 -14px 0 #ebebeb; }

/* ==========================================================================
    authorization
    ========================================================================== */
.authorization {
  -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.29);
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.29);
  margin: 0 auto;
  width: 495px;
  margin-top: 180px;
  background-color: #f7f7f7; }
  .authorization header {
    background-color: #373737;
    text-align: center;
    padding: 20px 0 5px 0; }
    .authorization header h3 {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 1;
      color: #e5e5e5;
      margin: 15px 0; }
  .authorization__main {
    padding: 30px 0 10px 0;
    border: 1px solid #dadada; }
  .authorization__form {
    margin: 0 0 20px 0; }
    .authorization__form label {
      float: left;
      width: 174px;
      padding-right: 8px;
      color: #6a6a6a;
      font-size: 16px;
      line-height: 23px;
      text-align: right; }
    .authorization__form input[type="text"],
    .authorization__form input[type="password"] {
      float: left;
      width: 164px; }
    .authorization__form .btn {
      margin: 5px 0 5px 174px;
      font-weight: bold;
      color: #4f4f4f;
      font-size: 16px;
      line-height: 20px;
      padding: 4px 30px;
      border: 1px solid #afafaf;
      background-image: none;
      background: none;
      box-shadow: inset 0 14px 0 #ebebeb; }
      .authorization__form .btn:hover {
        background-image: none;
        background: none;
        box-shadow: inset 0 -14px 0 #ebebeb; }
  .authorization__form-line {
    margin-top: 15px; }
    .authorization__form-line:first-child {
      margin-top: 0; }

td .dropdown {
  margin: 0 -5px; }
  td .dropdown__main {
    top: 24px; }

.dropdown {
  position: relative; }
  .dropdown__header {
    position: relative;
    cursor: pointer; }
    .dropdown__header:after {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px;
      border-left-color: #858585;
      top: 50%;
      right: 5px;
      margin-top: -5px; }
  .dropdown__main {
    position: absolute;
    left: 0;
    z-index: 10;
    display: none;
    width: 700px;
    background-color: #fff; }
    .dropdown__main table {
      margin: 0; }
  .dropdown th {
    padding: 6px 5px 7px;
    background-color: #e5e5e5; }
    .dropdown th:hover {
      background-color: #d7d7d7; }
  .dropdown td {
    padding: 6px 5px 7px;
    background-color: #f2f2f2; }
  .dropdown tr:hover td {
    background-color: #ffd7b0; }
  .dropdown_open .dropdown__header:after {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-top-color: #858585;
    margin-top: -2.5px; }
  .dropdown_open .dropdown__main {
    display: block !important; }

.form__line {
  margin: 0 0 10px 0; }
  .form__line > .item {
    float: left;
    margin-right: 70px;
    font-size: 15px;
    line-height: 26px; }
    .form__line > .item:first-child {
      width: 360px;
      padding-right: 25px;
      text-align: right;
      margin: 0; }
  .form__line .btn {
    margin-bottom: 0; }
.form__line-text {
  float: left;
  width: 285px;
  padding-right: 10px;
  text-align: right; }
.form__line-items {
  width: 238px;
  position: relative;
  float: left; }
  .form__line-items .item {
    width: 50%;
    float: left; }
    .form__line-items .item span {
      margin: 0 5px; }
    .form__line-items .item input[type="text"] {
      width: 88px; }
.form label, .form span {
  font-size: 15px;
  line-height: 25px;
  color: #383838; }
.form input[type="text"] {
  display: inline-block; }
.form .error-text {
  white-space: nowrap;
  margin-bottom: 0; }

.custom-input-file input[type="file"] {
  display: none; }
.custom-input-file__remove {
  text-decoration: underline;
  cursor: pointer;
  color: #166ab1; }
  .custom-input-file__remove:hover {
    text-decoration: none; }

/* ==========================================================================
   btn
   ========================================================================== */
.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 0 0 0;
  padding: 3px 20px;
  border: 1px solid #dadada;
  border-radius: 5px;
  background-color: #dcdddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdddd), color-stop(100%, #f7f6f6));
  background-image: -webkit-linear-gradient(bottom, #dcdddd, #f7f6f6);
  background-image: linear-gradient(to top,#dcdddd, #f7f6f6);
  color: #383838;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.2;
  cursor: pointer;
  -webkit-user-drag: none; }
  .btn::-moz-focus-inner {
    padding: 0; }
  .btn:focus {
    outline: 0; }
  .btn:hover {
    background-color: #f7f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f6f6), color-stop(100%, #dcdddd));
    background-image: -webkit-linear-gradient(bottom, #f7f6f6, #dcdddd);
    background-image: linear-gradient(to top,#f7f6f6, #dcdddd); }
  .btn:focus, .btn:hover {
    text-decoration: none; }
  .btn:active {
    background-color: #f7f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f6f6), color-stop(100%, #f7f6f6));
    background-image: -webkit-linear-gradient(bottom, #f7f6f6, #f7f6f6);
    background-image: linear-gradient(to top,#f7f6f6, #f7f6f6); }
  .btn[disabled] {
    zoom: 1;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    cursor: not-allowed; }
  .btn_green {
    background-color: #008b00;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008b00), color-stop(100%, #4ba514));
    background-image: -webkit-linear-gradient(bottom, #008b00, #4ba514);
    background-image: linear-gradient(to top,#008b00, #4ba514);
    border: none;
    padding: 6px 20px;
    color: #fff; }
    .btn_green:hover {
      background-color: #4ba514;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4ba514), color-stop(100%, #008b00));
      background-image: -webkit-linear-gradient(bottom, #4ba514, #008b00);
      background-image: linear-gradient(to top,#4ba514, #008b00); }
    .btn_green:active {
      background-color: #008b00;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008b00), color-stop(100%, #008b00));
      background-image: -webkit-linear-gradient(bottom, #008b00, #008b00);
      background-image: linear-gradient(to top,#008b00, #008b00); }
  .btn_big {
    color: #323232;
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
    padding: 10px 30px; }

/* ==========================================================================
    select
    ========================================================================== */
.select-wrap {
  position: relative;
  display: inline-block;
  background-color: #fff;
  height: 23px;
  position: relative;
  overflow: hidden;
  width: 100%; }
  .select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    height: 23px;
    padding: 0 6px 0 4px;
    font-size: 15px;
    z-index: 1;
    width: 100%;
    border: 1px solid #dadada;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-indent: 1px;
    overflow: hidden;
    position: relative; }
    .select-wrap select:focus {
      border-color: #c1c1c1; }
  .select-wrap option {
    font-size: 14px;
    line-height: 24px; }
  .select-wrap:before {
    width: 24px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    background-color: #efefef;
    pointer-events: none;
    z-index: 2; }
  .select-wrap:after {
    background: transparent url("../resources/images/sprite-icons.png") no-repeat -6px -246px;
    width: 12px;
    height: 8px;
    top: 50%;
    right: 6px;
    margin-top: -4px;
    pointer-events: none;
    z-index: 2; }
  .select-wrap_error select {
    border-color: red; }
  .select-wrap_disabled {
    background-color: #d15959; }
    .select-wrap_disabled select {
      border-color: #d15959; }

/* ==========================================================================
    input(text, search)
    ========================================================================== */
input[type="text"],
input[type="password"],
input[type="search"],
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 23px;
  padding: 0 5px;
  font-size: 15px;
  line-height: 23px;
  border: 1px solid #dadada;
  color: #383838;
  background-color: white;
  background-image: none; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.placeholder::-webkit-input-placeholder {
  color: #6b6b6b; }

.placeholder::-moz-placeholder {
  color: #6b6b6b; }

.placeholder:-ms-input-placeholder {
  color: #6b6b6b; }

input[type="text"] + .important-input {
  position: absolute;
  top: -5px;
  right: -14px;
  font-size: 18px;
  line-height: 18px;
  color: #df1e1e; }

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
