.placeholder-overlay-label {
  position: absolute;
  top: 0;
  left: 10px;
  color: #6b6b6b;
  display: block;
  padding: 0 2px;
  height: 30px;
  line-height: 30px;
  font-size: 16px; }

.placeholder-overlay {
  position: relative; }
